.custom-input {
    position: relative;
    height: 70px;
}

.custom-input__label {
    position: absolute;
    left: 20px;
    top: 10px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
}

.custom-input__field {
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 8px;
    padding: 34px 54px 12px 20px;
    border: none;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
}

.custom-input__field::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.custom-input__icon {
    flex-shrink: 0;
    height: 24px;
    position: absolute;
    bottom: 12px;
    right: 20px;
}

.custom-input__error {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    color: #FF7575;
    position: absolute;
    bottom: -24px;
    left: 0;
    display: none;
}

.custom-input__icon-wrapper .custom-input__icon {
    position: relative;
    top: 0;
    right: 0;
}

.custom-input__icon-wrapper {
    display: flex;
    gap: 12px;
    position: absolute;
    bottom: 12px;
    right: 20px;
}

.custom-input__field[disabled] {
    background-color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.custom-input__field[disabled] ~ .custom-input__icon {
    color: rgba(255, 255, 255, 0.4);
}

.custom-input__field[disabled] ~ .custom-input__label {
    color: rgba(255, 255, 255, 0.4);
}

.custom-input__field[disabled]:hover {
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: none;
}


.custom-input__field[disabled]:hover ~ .custom-input__icon {
    color: rgba(255, 255, 255, 0.8);
}

.custom-input__field:hover {
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
    background-color: rgba(111, 181, 130, 0.15);
}

.custom-input__field:hover ~ .custom-input__icon {
    color: #87F29A;
}

.custom-input__field:focus-visible {
    box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.12);
    background-color: rgba(111, 181, 130, 0.15);
    outline: none;
}

.custom-input__field:focus-visible ~ .custom-input__icon {
    color: #87F29A;
}

.custom-input--invalid .custom-input__field{
    background-color: rgba(255, 117, 117, 0.15);
}

.custom-input--invalid .custom-input__icon {
    color: #FF7575;
}

.custom-input--invalid .custom-input__label {
    color: #FF7575;
}

.custom-input--invalid .custom-input__error {
    display: block;
}

.custom-input--long .custom-input__field {
    padding: 34px 139px 12px 20px;
    width: 382px;
}

.custom-input--small .custom-input__field {
    padding: 34px 20px 12px 20px;
    width: 94px;
}