.socials {
  display: flex;
  gap: 8px;
  padding: 0;
  list-style: none;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-solitude-3;
  }

  
  &__link:hover {
    background-color: #D2D4DA;
  }

  &__link:focus-visible {
    background-color: #D2D4DA;
  }
}
