body {
    font-family: Arial, sans-serif;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table, th, td {
    border: 1px solid #ccc;
}
th, td {
    padding: 10px;
    text-align: left;
}

.delivery-calculator {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin: 0 0 30px;
}

.delivery-calculator__btn {
    width: 200px;
}

.error {
    color: red;
    margin: 0 0 10px;
    display: none;
}

.error--active {
    display: block;
}