.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    border: 2px solid #fff;
    color: #fff;
    border-radius: 10px;
    width: 240px;
    height: 150px;
    padding: 10px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.red { 
    background-color: #ff0000;
    border: 2px solid #b81414;
}

.blue {
    background-color: #2424a4;
    border: 2px solid #00008b;
}

.green {
    background-color: #8db600;
    border: 2px solid #808000;
}

.text--focus {
    background-color: #d03946;
}