/* Global */
/* --------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@font-face {
  font-family: "Soyuz Grotesk";
  src: url("../fonts/Soyuz_Grotesk_Bold.woff2") format("woff2"), url("../fonts/Soyuz_Grotesk_Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
  color: #250202;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  position: relative;
  z-index: 5;
}

svg {
  flex-shrink: 0;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 50px;
  margin: 0;
}

section {
  margin: 0 0 75px;
}
@media (max-width: 1023px) {
  section {
    margin: 0 0 60px;
  }
}
@media (max-width: 767px) {
  section {
    margin: 0 0 30px;
  }
}

.wrapper {
  overflow-x: hidden;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
  ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
  ========================================================================== */
/**
* Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
* Render the `main` element consistently in IE.
*/
main {
  display: block;
}

/**
* Correct the font size and margin on `h1` elements within `section` and
* `article` contexts in Chrome, Firefox, and Safari.
*/
h1 {
  margin: 0.67em 0;
  font-size: 2em;
}

/* Grouping content
  ========================================================================== */
/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
pre {
  font-size: 1em; /* 2 */
  font-family: monospace, monospace; /* 1 */
}

/* Text-level semantics
  ========================================================================== */
/**
* Remove the gray background on active links in IE 10.
*/
a {
  background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/
abbr[title] {
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
  border-bottom: none; /* 1 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/
code,
kbd,
samp {
  font-size: 1em; /* 2 */
  font-family: monospace, monospace; /* 1 */
}

/**
* Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
  ========================================================================== */
/**
* Remove the border on images inside links in IE 10.
*/
img {
  border-style: none;
}

/* Forms
  ========================================================================== */
/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  margin: 0; /* 2 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  font-family: inherit; /* 1 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/
button,
input {
  /* 1 */
  overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

/**
* Restore the focus styles unset by the previous rule.
*/
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/
legend {
  display: table; /* 1 */
  box-sizing: border-box; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/
progress {
  vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/
textarea {
  overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/
[type=search] {
  outline-offset: -2px; /* 2 */
  -webkit-appearance: textfield; /* 1 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button; /* 1 */
}

/* Interactive
  ========================================================================== */
/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/
details {
  display: block;
}

/*
* Add the correct display in all browsers.
*/
summary {
  display: list-item;
}

/* Misc
  ========================================================================== */
/**
* Add the correct display in IE 10+.
*/
template {
  display: none;
}

/**
* Add the correct display in IE 10.
*/
[hidden] {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 1820px;
  margin: 0 auto;
  padding: 0 25px;
}
@media (max-width: 767px) {
  .container {
    padding: 0 15px;
  }
}

/* Blocks */
/* --------------------------*/
@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}
.header {
  padding: 30px 0 26px;
  margin: 0;
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 10;
}
@media (max-width: 1023px) {
  .header {
    padding: 10px 0;
  }
}
.header__wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}
@media (max-width: 1270px) {
  .header__wrapper {
    justify-content: space-between;
    gap: 20px;
  }
}
@media (max-width: 1023px) {
  .header__wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.header__logo {
  z-index: 7;
}
.header__logo-icon {
  color: #390000;
  width: 251px;
  height: 80px;
}
@media (max-width: 1480px) {
  .header__logo-icon {
    width: 201px;
    height: 64px;
  }
}
@media (max-width: 767px) {
  .header__logo-icon {
    width: 158px;
    height: 50px;
  }
}
.header__nav-list {
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 0.6% 3%;
}
@media (max-width: 1160px) {
  .header__nav-list {
    margin-left: 0;
    gap: 11px;
  }
}
@media (max-width: 1023px) {
  .header__nav-list {
    display: none;
  }
}
.header__nav-list-link {
  color: #250202;
  border-radius: 30px;
  padding: 15px;
}
.header__nav-list-link:hover, .header__nav-list-link:focus-visible {
  background-color: #FFF5EF;
}
.header__nav-list-link {
  transition: background-color ease-in 0.2s;
}
.header__address {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
@media (max-width: 1470px) {
  .header__address {
    display: none;
  }
}
.header__address-wrapper {
  margin: 0 7% 0 auto;
  display: flex;
  gap: 47px;
  align-items: center;
}
@media (max-width: 1270px) {
  .header__address-wrapper {
    margin: 0;
  }
}
@media (max-width: 1023px) {
  .header__address-wrapper {
    display: none;
  }
}
.header__address-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.header__address-text {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  max-width: 209px;
}
.header__address-link {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  background-color: #F9EBE3;
  border-radius: 2000px;
  min-width: 270px;
  padding: 14px;
  transition: background-color ease-in 0.2s;
}
.header__address-link-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  color: #250202;
}
.header__address-link:hover, .header__address-link:focus-visible {
  background-color: #FAD8C5;
}

.burger {
  display: block;
  width: 31px;
  height: 3px;
  background-color: #390000;
  position: relative;
  z-index: 7;
  flex-shrink: 0;
}
.burger__btn {
  padding: 0;
  border: none;
  display: flex;
  align-items: center;
  width: 31px;
  height: 31px;
  cursor: pointer;
}
.burger::before, .burger::after {
  content: "";
  width: 31px;
  height: 3px;
  background-color: #390000;
  position: absolute;
  left: 0;
}
.burger::after {
  top: 10px;
}
.burger::before {
  top: -10px;
}

.burger-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #F9EBE3;
  z-index: 6;
  min-height: 950px;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity ease 0.3s;
  transition: all ease 0.3s;
}
@media (max-width: 1023px) {
  .burger-menu {
    padding: 50px 30px 30px 40px;
  }
}
@media (max-width: 767px) {
  .burger-menu {
    padding: 163px 30px 30px 35px;
  }
}
.burger-menu--active {
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}
.burger-menu__ornament {
  position: absolute;
  opacity: 0.02;
}
.burger-menu__ornament--1 {
  width: 855px;
  height: 956px;
  top: -50%;
  right: 15%;
  transform: rotate(0);
  animation: spin linear 30s 1s infinite;
}
@media (max-width: 1023px) {
  .burger-menu__ornament--1 {
    width: 764px;
    top: -51%;
    right: -30%;
  }
}
@media (max-width: 500px) {
  .burger-menu__ornament--1 {
    width: 435px;
    height: 565px;
    top: -14%;
    right: -57%;
  }
}
.burger-menu__ornament--2 {
  width: 1324px;
  height: 1668px;
  bottom: -77%;
  right: -32%;
  animation: spin linear 30s 1s infinite reverse;
}
@media (max-width: 1023px) {
  .burger-menu__ornament--2 {
    width: 1093px;
    bottom: -87%;
    right: -32%;
  }
}
@media (max-width: 500px) {
  .burger-menu__ornament--2 {
    width: 558px;
    height: 625px;
    bottom: -13%;
    right: -39%;
  }
}
.burger-menu__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 767px) {
  .burger-menu__wrapper {
    justify-content: normal;
  }
}
.burger-menu__list {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 73px;
}
@media (max-width: 1023px) {
  .burger-menu__list {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .burger-menu__list {
    font-size: 40px;
    line-height: 48px;
  }
}
.burger-menu__item {
  display: flex;
  gap: 25px;
  color: #390000;
  align-items: flex-end;
}
.burger-menu__item__icon {
  width: 70px;
  height: 70px;
  padding: 18px;
  transform: rotate(-90deg);
  background-color: rgba(57, 0, 0, 0.05);
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
@media (max-width: 1023px) {
  .burger-menu__item__icon {
    display: none;
  }
}
.burger-menu__item:hover .burger-menu__item__icon, .burger-menu__item:focus-visible .burger-menu__item__icon {
  opacity: 1;
}
.burger-menu__social {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  top: 43px;
  left: 26%;
}
@media (max-width: 1420px) {
  .burger-menu__social {
    left: 29%;
  }
}
@media (max-width: 1290px) {
  .burger-menu__social {
    left: 32%;
  }
}
@media (max-width: 1170px) {
  .burger-menu__social {
    left: 36%;
  }
}
@media (max-width: 1023px) {
  .burger-menu__social {
    position: inherit;
    margin-bottom: 20px;
  }
}
.burger-menu__social-item {
  background-color: #EFDFD7;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in 0.2s;
}
.burger-menu__social-item:hover, .burger-menu__social-item:focus-visible {
  background-color: #FAD8C5;
}
.burger-menu__open-hours {
  display: flex;
  gap: 10px;
  align-items: flex-start;
}
.burger-menu__open-hours__icon {
  width: 42px;
  height: 42px;
}
@media (max-width: 1023px) {
  .burger-menu__open-hours__icon {
    width: 34px;
    height: 34px;
    margin-top: 3px;
  }
}
@media (max-width: 767px) {
  .burger-menu__open-hours__icon {
    width: 24px;
    height: 24px;
    margin-top: 9px;
  }
}
.burger-menu__open-hours__wrapper {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.burger-menu__open-hours__caption {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 34px;
}
@media (max-width: 1023px) {
  .burger-menu__open-hours__caption {
    font-size: 32px;
  }
}
@media (max-width: 767px) {
  .burger-menu__open-hours__caption {
    font-size: 24px;
    line-height: 32px;
  }
}
.burger-menu__open-hours__text {
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
}
@media (max-width: 1023px) {
  .burger-menu__open-hours__text {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .burger-menu__open-hours__text {
    font-size: 20px;
    line-height: 28px;
  }
}

.footer {
  display: flex;
  align-items: flex-start;
  -moz-column-gap: 54px;
       column-gap: 54px;
  position: relative;
  margin-bottom: 40px;
}
@media (max-width: 1230px) {
  .footer {
    gap: 35px;
  }
}
@media (max-width: 1023px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 35px;
  }
}
@media (max-width: 767px) {
  .footer {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}
.footer::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
  height: 310%;
  top: -65%;
  width: 1px;
  position: absolute;
  right: 34%;
}
@media (max-width: 1450px) {
  .footer::before {
    display: none;
  }
}
.footer__wrapper {
  background-color: #EBEBEB;
  margin: 0;
  padding: 75px 0 80px;
  overflow: hidden;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
@media (max-width: 1023px) {
  .footer__wrapper {
    padding: 50px 0;
  }
}
@media (max-width: 1023px) {
  .footer__logo-link {
    grid-column: span 3;
    margin: 0 auto;
  }
}
.footer__logo-icon {
  color: #8B8B8B;
  width: 251px;
  height: 80px;
}
@media (max-width: 767px) {
  .footer__logo-icon {
    width: 100%;
  }
}
.footer__navigate {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 14px;
  margin: 0;
  padding: 0;
}
.footer__navigate-wrapper {
  display: flex;
  gap: 70px;
}
@media (max-width: 1023px) {
  .footer__navigate-wrapper {
    gap: 50px;
  }
}
@media (max-width: 767px) {
  .footer__navigate-wrapper {
    gap: 60px;
  }
}
.footer__navigate-item-link {
  color: rgba(0, 0, 0, 0.3);
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 0 0 4%;
}
@media (max-width: 1230px) {
  .footer__contacts {
    margin: 0;
  }
}
.footer__address {
  display: flex;
  gap: 10px;
  align-items: center;
}
.footer__address-icon {
  width: 24px;
  height: 24px;
  color: rgba(0, 0, 0, 0.2);
}
.footer__address-text {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.footer__phone {
  display: flex;
  gap: 10px;
}
.footer__phone-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.footer__phone-icon {
  width: 24px;
  height: 24px;
  margin: 5px 0 0;
}
.footer__phone-number {
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  color: #250202;
}
.footer__work-mode {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 14.5% 0 auto;
  max-width: 320px;
}
@media (max-width: 1450px) {
  .footer__work-mode {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .footer__work-mode {
    margin: 0;
  }
}
.footer__work-mode-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__work-mode-icon {
  width: 24px;
  height: 24px;
}
.footer__work-mode-caption {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
.footer__work-mode-text {
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  white-space: nowrap;
}
.footer__ornament {
  width: 449px;
  height: 502px;
  position: absolute;
  z-index: 1;
  top: -69%;
  right: 2%;
  color: #390000;
  opacity: 1%;
}
@media (max-width: 1023px) {
  .footer__ornament {
    top: 28%;
    right: -19%;
  }
}
@media (max-width: 767px) {
  .footer__ornament {
    top: 71%;
    right: -44%;
  }
}
.footer__caption {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  max-width: 182px;
}

.black-horse {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
  max-height: 120px;
}
.black-horse::before {
  content: "";
  background-color: #9747FF;
  position: absolute;
  width: 781px;
  height: 781px;
  left: -8%;
  top: -153px;
  border-radius: 50%;
  filter: blur(125px);
}
@media (max-width: 767px) {
  .black-horse::before {
    filter: blur(100px);
  }
}
.black-horse::after {
  content: "";
  background-color: #9747FF;
  position: absolute;
  width: 781px;
  height: 781px;
  right: -12%;
  bottom: -145px;
  border-radius: 50%;
  filter: blur(125px);
}
@media (max-width: 767px) {
  .black-horse::after {
    display: none;
  }
}
.black-horse__wrapper {
  background-color: #EBEBEB;
  padding: 50px 0 188px;
}
.black-horse__img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}
.black-horse__icon {
  position: absolute;
  width: 298px;
  height: 70px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  left: 2.5%;
}
@media (max-width: 1250px) {
  .black-horse__icon {
    width: 241px;
  }
}
@media (max-width: 1023px) {
  .black-horse__icon {
    left: 1%;
    width: 212px;
    height: 43px;
  }
}
@media (max-width: 767px) {
  .black-horse__icon {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 241px;
    height: 70px;
  }
}
@media (max-width: 400px) {
  .black-horse__icon {
    width: 80%;
    height: auto;
  }
}

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 675px;
  height: calc(100vh - 140px);
  margin-top: 140px;
}
@media (max-width: 1470px) {
  .banner {
    margin-top: 124px;
    height: calc(100vh - 124px);
  }
}
@media (max-width: 1023px) {
  .banner {
    margin-top: 88px;
    height: calc(100vh - 88px);
    padding-top: 13px;
  }
}
@media (max-width: 767px) {
  .banner {
    min-height: 860px;
    margin-top: 74px;
    height: calc(100vh - 74px);
  }
}
@media (max-width: 645px) {
  .banner {
    min-height: 660px;
  }
}
.banner__ornament {
  width: 855px;
  height: 958px;
  color: #390000;
  opacity: 2%;
  z-index: -1;
  position: absolute;
}
@media (max-width: 1023px) {
  .banner__ornament {
    width: 612px;
    height: 687px;
  }
}
@media (max-width: 767px) {
  .banner__ornament {
    width: 375px;
    height: 421px;
  }
}
.banner__ornament--1 {
  top: -76%;
  left: -24%;
}
@media (max-width: 1023px) {
  .banner__ornament--1 {
    top: -31%;
    left: -26%;
  }
}
@media (max-width: 767px) {
  .banner__ornament--1 {
    top: -5%;
  }
}
.banner__ornament--2 {
  bottom: -33%;
  right: -20%;
}
@media (max-width: 767px) {
  .banner__ornament--2 {
    bottom: -3%;
    right: -33%;
  }
}
.banner__wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 3% 0 4.5%;
}
@media (max-width: 767px) {
  .banner__wrapper {
    padding: 0;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 30px;
  }
}
.banner__content {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  z-index: 1;
}
@media (max-width: 767px) {
  .banner__content {
    align-items: normal;
  }
}
.banner__heading {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: clamp(5rem, 0.6818rem + 3.6364vw, 7.5rem);
  font-weight: 700;
  line-height: 80px;
  margin: 0 0 8%;
}
@media (min-width: 2550px) {
  .banner__heading {
    line-height: 100px;
  }
}
@media (max-width: 767px) {
  .banner__heading {
    font-size: 40px;
    line-height: 40px;
  }
}
.banner__description {
  font-size: clamp(1.125rem, 0.0455rem + 0.9091vw, 1.75rem);
  font-weight: 500;
  line-height: 26px;
  margin: 0;
  margin: 0 0 7%;
}
@media (max-width: 767px) {
  .banner__description {
    font-size: 18px;
    line-height: 26px;
  }
}
.banner__menu {
  background-color: #F9EBE3;
  padding: 14px;
  min-width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 25px;
  margin: 0 0 7%;
  transition: background-color ease-in 0.2s;
}
@media (max-width: 767px) {
  .banner__menu {
    min-width: auto;
  }
}
.banner__menu:hover, .banner__menu:focus-visible {
  background-color: #FAD8C5;
}
.banner__menu-icon {
  width: 24px;
  height: 24px;
}
.banner__menu-text {
  color: #250202;
  font-size: clamp(1.125rem, 0.0455rem + 0.9091vw, 1.75rem);
  font-weight: 600;
  line-height: 26px;
}
.banner__next {
  display: flex;
  align-items: center;
  gap: 37px;
  margin: 47px 0 0 0;
}
@media (max-width: 767px) {
  .banner__next {
    display: none;
  }
}
.banner__next-link {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 235, 227, 0.2);
  position: relative;
  transition: background-color ease-in 0.2s;
}
.banner__next-link::before {
  content: "";
  width: 104px;
  height: 104px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F9EBE3;
  opacity: 0.2;
  z-index: -1;
  border-radius: 50%;
}
.banner__next-link:hover, .banner__next-link:focus-visible {
  background-color: #FFF5EF;
}
.banner__next-link:hover .banner__next-icon, .banner__next-link:focus-visible .banner__next-icon {
  transform: translateY(8px);
}
.banner__next-icon {
  width: 34px;
  height: 34px;
  transition: transform ease-in 0.2s;
}
.banner__next-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.banner__next-caption {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: clamp(1.125rem, 0.0455rem + 0.9091vw, 1.75rem);
  font-weight: 700;
  line-height: 26px;
}
.banner__next-name {
  font-size: clamp(1.125rem, 0.0455rem + 0.9091vw, 1.75rem);
  font-weight: 500;
  line-height: 26px;
}
.banner__img {
  width: 947px;
  height: 739px;
}
@media (max-width: 1550px) {
  .banner__img {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
  }
}
@media (max-width: 1023px) {
  .banner__img {
    width: 785px;
    height: 658px;
  }
}
@media (max-width: 767px) {
  .banner__img {
    opacity: 1;
    position: static;
    width: 610px;
    height: 517px;
  }
}
@media (max-width: 645px) {
  .banner__img {
    width: 295px;
    height: 250px;
  }
}

.about__wrapper {
  width: 100%;
  position: relative;
}
.about__card {
  width: 100%;
  min-height: 930px;
  display: flex;
  padding: 90px 100px;
  color: #ffffff;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 1320px) {
  .about__card {
    gap: 40px;
  }
}
@media (max-width: 1023px) {
  .about__card {
    min-height: auto;
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 767px) {
  .about__card {
    padding: 24px 20px;
  }
}
.about__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about__part {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 470px;
}
@media (max-width: 1550px) {
  .about__part {
    width: 35%;
  }
}
@media (max-width: 1023px) {
  .about__part {
    display: none;
  }
}
.about__part--right {
  justify-content: flex-start;
}
.about__heading {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  margin: 0 0 12px;
  font-size: clamp(3.75rem, 2.3011rem + 2.2727vw, 5rem);
  font-weight: 700;
  line-height: 80px;
}
.about__text {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.about__logo {
  display: flex;
  align-items: center;
}
.about__logo-icon {
  width: 100%;
  height: 100%;
}
.about__mobile {
  display: none;
}
@media (max-width: 1023px) {
  .about__mobile {
    display: block;
  }
}
.about__mobile .about__part {
  display: none;
  max-width: none;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin: 15px 0 0 0;
}
.about__mobile .about__part--actve {
  display: block;
}
.about__btn {
  background: transparent;
  border: none;
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  opacity: 0.3;
  cursor: pointer;
}
.about__btn--active {
  opacity: 1;
}

.media__wrapper {
  display: flex;
  position: relative;
  gap: 50px;
  width: 100%;
}
@media (max-width: 1719px) {
  .media__wrapper {
    flex-direction: column-reverse;
  }
}
.media__ornament {
  position: absolute;
  color: #390000;
  opacity: 0.02;
  z-index: -1;
}
.media__ornament--1 {
  width: 517px;
  height: 578px;
  top: 12%;
  right: -14.5%;
}
@media (max-width: 1023px) {
  .media__ornament--1 {
    width: 612px;
    height: 687px;
  }
}
@media (max-width: 767px) {
  .media__ornament--1 {
    top: auto;
    bottom: 7%;
    right: -29%;
    width: 375px;
    height: 421px;
  }
}
.media__ornament--2 {
  width: 767px;
  height: 860px;
  bottom: -102%;
  left: -17%;
}
@media (max-width: 1719px) {
  .media__ornament--2 {
    bottom: -50%;
  }
}
@media (max-width: 1023px) {
  .media__ornament--2 {
    width: 612px;
    height: 687px;
    bottom: -35%;
  }
}
@media (max-width: 767px) {
  .media__ornament--2 {
    left: -25%;
    width: 375px;
    height: 421px;
  }
}
.media__heading {
  font-family: Soyuz Grotesk;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: rgba(0, 0, 0, 0.1);
  margin: 0 0 27px;
}
.media__video {
  min-width: 43.5%;
}
.media__video-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 5px;
  width: 100%;
  height: 89%;
  padding: 40px;
}
@media (max-width: 1719px) {
  .media__video-content {
    min-height: 860px;
  }
}
@media (max-width: 767px) {
  .media__video-content {
    min-height: 300px;
    padding: 15px;
  }
}
@media (max-width: 490px) {
  .media__video-content {
    min-height: 250px;
  }
}
.media__video-img {
  position: absolute;
  border-radius: 50px;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .media__video-img {
    border-radius: 25px;
  }
}
.media__video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
}
@media (max-width: 767px) {
  .media__video-icon {
    width: 30px;
    height: 30px;
  }
}
.media__video-icon__bg {
  display: block;
  width: 70px;
  height: 70px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #F9EBE3;
  opacity: 0.2;
}
@media (max-width: 767px) {
  .media__video-icon__bg {
    width: 60px;
    height: 60px;
  }
}
.media__video-name {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  margin: 0;
}
@media (max-width: 767px) {
  .media__video-name {
    font-size: 18px;
    line-height: 26px;
  }
}
.media__video-date {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  color: #ffffff;
  opacity: 0.5;
  margin: 0;
}
@media (max-width: 767px) {
  .media__video {
    font-size: 16px;
    line-height: 26px;
  }
}
.media__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}
@media (max-width: 1023px) {
  .media__articles {
    overflow: auto;
    gap: 15px;
    margin: 0 -25px;
    padding: 0 25px;
  }
  .media__articles::-webkit-scrollbar {
    display: none;
  }
}
.media__articles-heading {
  font-family: Soyuz Grotesk;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
  color: #000000;
  margin: 0 0 27px;
}
.media__articles-card {
  background-color: #F8F8F8;
  display: flex;
  flex-direction: column;
  padding: 15px 20px 10px;
  border-radius: 25px;
  min-height: 502px;
}
@media (max-width: 1719px) {
  .media__articles-card {
    min-height: auto;
  }
}
@media (max-width: 1023px) {
  .media__articles-card {
    min-width: 300px;
  }
}
.media__articles-card-img-wrapper {
  min-height: 70px;
  display: flex;
  align-items: center;
  margin: 0 0 21px;
}
.media__articles-card-img--travelcrimea {
  width: 161px;
  height: 50px;
}
.media__articles-card-img--rgru {
  width: 144px;
  height: 67px;
}
.media__articles-card-img--zen {
  width: 178px;
  height: 34px;
}
.media__articles-card-text {
  margin: 0 0 35px;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
@media (max-width: 1023px) {
  .media__articles-card-text {
    margin: 0 0 20px;
  }
}
.media__articles-card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: auto 0 0;
  color: #250202;
  background-color: #EDEDED;
  border-radius: 2000px;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
}
.media__articles-card-btn-icon {
  width: 34px;
  height: 34px;
  rotate: -90deg;
}

.swiper {
  width: 1570px;
  height: 100%;
  overflow: auto;
  margin-left: 0;
}
.swiper-slide {
  width: 370px !important;
}
@media (max-width: 767px) {
  .swiper-slide {
    width: 212px !important;
  }
}
.swiper-pagination-bullet {
  background-color: #250202;
  opacity: 0.2;
}
.swiper-pagination-bullet-active {
  opacity: 1;
}

.menu {
  overflow: hidden;
  position: relative;
  margin-top: 175px;
}
@media (max-width: 1023px) {
  .menu {
    padding: 0 0 75px;
    margin-top: 0;
  }
}
.menu__heading {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  margin: 0 0 30px;
}
@media (max-width: 1023px) {
  .menu__heading {
    font-size: 60px;
    line-height: 60px;
  }
}
@media (max-width: 767px) {
  .menu__heading {
    font-size: 40px;
    line-height: 40px;
  }
}
.menu__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.menu__food, .menu__sauce, .menu__drinks {
  display: none;
}
.menu__active {
  display: block;
}
.menu__btn-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
@media (max-width: 560px) {
  .menu__btn-wrapper {
    overflow: auto;
    margin: 0 -20px;
    padding: 0 20px;
  }
  .menu__btn-wrapper::-webkit-scrollbar {
    display: none;
  }
}
.menu__btn {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  padding: 22px;
  min-width: 170px;
  border: none;
  border-radius: 25px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color ease-in 0.2s;
}
.menu__btn:hover, .menu__btn:focus-visible {
  background-color: #FFF5EF;
}
.menu__navigate-food, .menu__navigate-sauce, .menu__navigate-drinks {
  gap: 20px;
  align-items: center;
  display: none;
}
@media (max-width: 1023px) {
  .menu__navigate-food, .menu__navigate-sauce, .menu__navigate-drinks {
    position: absolute;
    bottom: 0;
    right: 15px;
    flex-direction: row-reverse;
  }
}
.menu__navigate-active {
  display: flex;
}
.menu__navigate-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}
.menu__food-button-prev, .menu__food-button-next, .menu__sauce-button-prev, .menu__sauce-button-next, .menu__drinks-button-prev, .menu__drinks-button-next {
  width: 70px;
  height: 70px;
  background-color: rgba(249, 235, 227, 0.6);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  left: auto;
  flex-shrink: 0;
}
@media (max-width: 1023px) {
  .menu__food-button-prev, .menu__food-button-next, .menu__sauce-button-prev, .menu__sauce-button-next, .menu__drinks-button-prev, .menu__drinks-button-next {
    width: 60px;
    height: 60px;
  }
}
.menu__food-button-prev img, .menu__food-button-next img, .menu__sauce-button-prev img, .menu__sauce-button-next img, .menu__drinks-button-prev img, .menu__drinks-button-next img {
  width: 34px;
  height: 34px;
}
.menu__food-button-prev img, .menu__sauce-button-prev img, .menu__drinks-button-prev img {
  transform: rotate(90deg);
}
.menu__food-button-next img, .menu__sauce-button-next img, .menu__drinks-button-next img {
  transform: rotate(-90deg);
}
.menu__food-button-prev::after, .menu__food-button-next::after, .menu__sauce-button-prev::after, .menu__sauce-button-next::after, .menu__drinks-button-prev::after, .menu__drinks-button-next::after {
  content: none;
}
.menu__food-pagination, .menu__sauce-pagination, .menu__drinks-pagination {
  width: 200px !important;
  height: 20px;
}
@media (max-width: 1023px) {
  .menu__food-pagination, .menu__sauce-pagination, .menu__drinks-pagination {
    width: 100% !important;
  }
}

.menu-item {
  width: 370px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
@media (max-width: 767px) {
  .menu-item {
    width: 212px;
    gap: 0;
  }
}
.menu-item:hover .menu-item__img, .menu-item:focus-visible .menu-item__img {
  transform: scale(1.1);
}
.menu-item:hover .menu-item__img-wrapper, .menu-item:focus-visible .menu-item__img-wrapper {
  transform: scale(0.98);
}
.menu-item__img {
  width: 370px;
  height: 370px;
  padding: 2px;
  border-radius: 50px;
  transition: transform ease 1s;
}
@media (max-width: 767px) {
  .menu-item__img {
    width: 212px;
    height: 212px;
    margin-bottom: 10px;
  }
}
.menu-item__img-wrapper {
  border: 2px solid #390000;
  border-radius: 50px;
  margin: 0 0 15px;
  height: 370px;
  overflow: hidden;
  transition: transform ease 0.4s;
}
@media (max-width: 767px) {
  .menu-item__img-wrapper {
    height: 212px;
  }
}
.menu-item__name {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46px;
}
@media (max-width: 767px) {
  .menu-item__name {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 2px;
  }
}
.menu-item__gram {
  font-size: 24px;
  font-weight: 600;
  line-height: 26px;
  color: rgba(37, 2, 2, 0.3);
}
@media (max-width: 767px) {
  .menu-item__gram {
    font-size: 18px;
  }
}
.menu-item__gram-2 {
  color: rgba(37, 2, 2, 0.5);
}
.menu-item__description {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
@media (max-width: 767px) {
  .menu-item__description {
    font-size: 16px;
  }
}
.menu-item__price, .menu-item__price-2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 46px;
  border-radius: 50px 20px 50px 20px;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: 20px;
  min-width: 90px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu-item__price-2 {
  top: 80px;
}

.contacts {
  margin-top: 15%;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .contacts {
    margin-top: 0;
    margin-bottom: 15%;
  }
}
@media (max-width: 767px) {
  .contacts {
    margin-bottom: 0;
  }
}
.contacts__wrapper {
  display: flex;
  gap: 55px;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 65px;
}
@media (max-width: 1023px) {
  .contacts__wrapper {
    flex-direction: column;
  }
}
.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 345px;
}
@media (max-width: 1023px) {
  .contacts__info {
    max-width: none;
    width: 100%;
    gap: 20px;
  }
}
.contacts__welcome {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  margin: 0;
}
@media (max-width: 767px) {
  .contacts__welcome {
    font-size: 40px;
    line-height: 40px;
  }
}
.contacts__open-hours {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}
@media (max-width: 767px) {
  .contacts__open-hours {
    font-size: 18px;
    line-height: 24px;
  }
}
.contacts__caption {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin: 0 0 10px;
}
.contacts__address-wrapper {
  display: flex;
  gap: 10px;
}
.contacts__address-text {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
}
@media (max-width: 767px) {
  .contacts__address-text {
    font-size: 18px;
    line-height: 24px;
  }
}
.contacts__icon {
  width: 24px;
  height: 24px;
  position: relative;
  top: 8px;
}
.contacts__phone-wrapper {
  display: flex;
  gap: 10px;
}
.contacts__phone-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contacts__phone-item {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  color: #250202;
}
@media (max-width: 767px) {
  .contacts__phone-item {
    font-size: 18px;
    line-height: 24px;
  }
}
.contacts__social-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contacts__social-item {
  background-color: #F9EBE3;
  border-radius: 50%;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: ease-in 0.2s;
}
.contacts__social-item:hover, .contacts__social-item:focus-visible {
  background-color: #FAD8C5;
}
.contacts__location {
  width: 100%;
  max-width: 1000px;
  position: relative;
}
.contacts__ornament {
  width: 855px;
  height: 958px;
  color: #390000;
  opacity: 2%;
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 1023px) {
  .contacts__ornament {
    width: 612px;
    height: 687px;
  }
}
@media (max-width: 767px) {
  .contacts__ornament {
    width: 375px;
    height: 421px;
    transform: translate(0, 0);
    top: auto;
    bottom: -67%;
    left: -22%;
  }
}
.contacts__map {
  width: 100%;
  height: 100%;
  filter: grayscale(50%);
  mix-blend-mode: hard-light;
}
.contacts__map-wrapper {
  width: 100%;
  height: 620px;
  border-radius: 50px 50px 150px 150px;
  overflow: hidden;
  background-color: #b7521b;
  background-blend-mode: hue, normal;
}
@media (max-width: 1023px) {
  .contacts__map-wrapper {
    border-radius: 25px;
    height: 460px;
  }
}
.contacts__back {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;
}
@media (max-width: 1023px) {
  .contacts__back {
    display: none;
  }
}
.contacts__back-link {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(249, 235, 227, 0.2);
  position: relative;
  transition: background-color ease-in 0.2s;
}
.contacts__back-link::before {
  content: "";
  width: 104px;
  height: 104px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F9EBE3;
  opacity: 0.2;
  z-index: -1;
  border-radius: 50%;
}
.contacts__back-link:hover, .contacts__back-link:focus-visible {
  background-color: #FFF5EF;
}
.contacts__back-link:hover .banner__next-icon, .contacts__back-link:focus-visible .banner__next-icon {
  transform: translateY(8px);
}
.contacts__back-icon {
  width: 34px;
  height: 34px;
  transform: rotate(180deg);
  transition: transform ease-in 0.2s;
}
.contacts__back-text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contacts__back-caption {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
.contacts__back-name {
  font-family: "Soyuz Grotesk", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}/*# sourceMappingURL=style.css.map */