.contacts {
    &__wrapper {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 345px;
    }

    &__welcome {
        font-family: $ff-grotesk;
        font-size: 80px;
        font-weight: 700;
        line-height: 80px;
        margin: 0;
    }

    &__open-hours {
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
    }

    &__caption {
        display: block;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin: 0 0 10px;
    }

    &__address {
        &-wrapper {
            display: flex;
            gap: 10px;
        }

        &-text {
            font-family: $ff-grotesk;
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        position: relative;
        top: 8px;
    }

    &__phone {
        &-wrapper {
            display: flex;
            gap: 10px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &-item {
            font-size: 24px;
            font-weight: 600;
            line-height: 34px;
            color: $color-seal-brown;
        }
    }

    &__social {
        &-wrapper {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &-item {
            background-color: $color-sauvignon;
            border-radius: 50%;
            width: 54px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }

    &__map {
        width: 100%;
        height: 100%;
        filter: grayscale(50%);
        mix-blend-mode: hard-light;

        &-wrapper {
            width: 1000px;
            height: 620px;
            border-radius: 50px 50px 150px 150px;
            overflow: hidden;  
            background-color: #b7521b;     
            background-blend-mode: hue, normal;
        }
    }
}