.contacts {
    &__wrapper {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: space-between;
        margin: 0 0 65px;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 30px;
        max-width: 345px;
    }

    &__welcome {
        font-family: $ff-grotesk;
        font-size: 80px;
        font-weight: 700;
        line-height: 80px;
        margin: 0;
    }

    &__open-hours {
        font-size: 24px;
        font-weight: 600;
        line-height: 34px;
    }

    &__caption {
        display: block;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        margin: 0 0 10px;
    }

    &__address {
        &-wrapper {
            display: flex;
            gap: 10px;
        }

        &-text {
            font-family: $ff-grotesk;
            font-size: 24px;
            font-weight: 700;
            line-height: 34px;
        }
    }

    &__icon {
        width: 24px;
        height: 24px;
        position: relative;
        top: 8px;
    }

    &__phone {
        &-wrapper {
            display: flex;
            gap: 10px;
        }

        &-list {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &-item {
            font-size: 24px;
            font-weight: 600;
            line-height: 34px;
            color: $color-seal-brown;
        }
    }

    &__social {
        &-wrapper {
            display: flex;
            gap: 10px;
            align-items: center;
        }

        &-item {
            background-color: $color-sauvignon;
            border-radius: 50%;
            width: 54px;
            height: 54px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover,
            &:focus-visible {
                background-color: $color-tuft-bush;
            }

            transition: $transition-200;
        }
    }

    &__map {
        width: 100%;
        height: 100%;
        filter: grayscale(50%);
        mix-blend-mode: hard-light;

        &-wrapper {
            width: 1000px;
            height: 620px;
            border-radius: 50px 50px 150px 150px;
            overflow: hidden;  
            background-color: #b7521b;     
            background-blend-mode: hue, normal;
        }
    }

    &__back {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 32px;

        &-link {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-sauvignon-20;
            position: relative;
            transition: background-color $transition-200;

            &::before {
                content: "";
                width: 104px;
                height: 104px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: $color-sauvignon;
                opacity: 0.2;
                z-index: -1;
                border-radius: 50%;
            }

            &:hover,
            &:focus-visible {
                background-color: $color-seashel;

                .banner__next-icon {
                    transform: translateY(8px);
                }
            }
        }

        &-icon {
            width: 34px;
            height: 34px;
            transform: rotate(180deg);
            transition: transform ease-in 0.2s;
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        &-caption {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
        }

        &-name {
            font-family: $ff-grotesk;
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
        }
    }
}