.media {
    &__wrapper {
        display: flex;
        position: relative;
        gap: 50px;
        width: 100%;

        @media (max-width: 1175px) {
            flex-direction: column-reverse;
        }
    }

    &__ornament {
        position: absolute;
        color: $color-seal-brown-2;
        opacity: 0.02;
        z-index: -1;

        &--1 {
            width: 517px;
            height: 578px;
            top: 12%;
            right: -14.5%;

            @include vp-1023 {
                width: 612px;
                height: 687px;
            }

            @include vp-767 {
                top: auto;
                bottom: 7%;
                right: -29%;
                width: 375px;
                height: 421px;
            }
        }

        &--2 {
            width: 767px;
            height: 860px;
            bottom: -102%;
            left: -17%; 

            @media (max-width: 1719px) {
                bottom: -50%;
            }

            @include vp-1023 {
                width: 612px;
                height: 687px;
                bottom: -35%;
            }

            @include vp-767 {
                left: -25%;
                width: 375px;
                height: 421px;
            }
        }
    }

    &__heading {
        font-family: Soyuz Grotesk;
        font-size: 36px;
        font-weight: 700;
        line-height: 46px;
        color: $color-black-10;
        margin: 0 0 27px;
    }

    &__video {
        min-width: 43.5%;

        &-content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 5px;
            width: 100%;
            height: 89%;
            padding: 40px;

            @media (max-width: 1175px) {
                min-height: 615px;
            }

            @include vp-767 {
                min-height: 300px;
                padding: 15px;
            }

            @media (max-width: 490px) {
                min-height: 250px;
            }
        }

        &-img {
            position: absolute;
            border-radius: 50px;
            z-index: -1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;

            @include vp-767 {
                border-radius: 25px;
            }
        }

        &-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 36px;
            height: 36px;

            @include vp-767 {
                width: 30px;
                height: 30px;
            }

            &__bg {
                display: block;
                width: 70px;
                height: 70px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-color: $color-sauvignon;
                opacity: 0.2;

                @include vp-767 {
                    width: 60px;
                    height: 60px;
                }
            }
        }

        &-name {
            font-family: $ff-grotesk;
            color: $color-white;
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
            margin: 0;

            @include vp-767 {
                font-size: 18px;
                line-height: 26px;
            }
        }

        &-date {
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            color: $color-white;
            opacity: 0.5;
            margin: 0;
        }

        @include vp-767 {
            font-size: 16px;
            line-height: 26px;
        }
    }

    &__articles {
        display: flex;
        gap: 25px;

        @include vp-1023 {
            overflow: auto;
            gap: 15px;
            margin: 0 -25px;
            padding: 0 25px;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &-heading {
            font-family: Soyuz Grotesk;
            font-size: 36px;
            font-weight: 700;
            line-height: 46px;
            color: $color-black;
            margin: 0 0 27px;
        }

        &-card {
            background-color: $color-white-smoke;
            display: flex;
            flex-direction: column;
            padding: 15px 20px 10px;
            border-radius: 25px;
            min-height: 502px;

            @media (max-width: 1700px) {
                min-height: auto;
                
                &:last-child {
                    display: none;
                }
            }

            @include vp-1023 {
                min-width: 300px;
            }

            &-img {
                &-wrapper {
                    min-height: 70px;
                    display: flex;
                    align-items: center;
                    margin: 0 0 21px;
                }

                &--travelcrimea {
                    width: 161px;
                    height: 50px;
                }
                
                &--rgru {
                    width: 144px;
                    height: 67px;
                }

                
                &--zen {
                    width: 178px;
                    height: 34px;
                }
            }

            &-text {
                margin: 0 0 35px;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;

                @include vp-1023 {
                    margin: 0 0 20px;
                }
            }

            &-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin: auto 0 0;
                color: $color-seal-brown;
                background-color: $color-whisper-2;
                border-radius: 2000px;
                padding: 10px;
                width: 100%;
                font-size: 18px;
                font-weight: 600;
                line-height: 26px;
                text-align: center;

                &-icon {
                    width: 34px;
                    height: 34px;
                    rotate: -90deg;
                }
            }
        }
    }
}