.swiper {
    width: 1570px;
    height: 100%;
    overflow: auto;
    margin-left: 0;

    &-slide {
        width: 370px!important;

        @include vp-767 {
            width: 212px!important;
        }
    }

    &-pagination-bullet {
        background-color: $color-seal-brown;
        opacity: 0.2;

        &-active {
            opacity: 1;
        }
    }
}