@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
    font-family: "Soyuz Grotesk";
    src: url("../fonts/Soyuz_Grotesk_Bold.woff2") format("woff2"),
      url("../fonts/Soyuz_Grotesk_Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }