/* Color */ 
/* ---------------------- */

$color-white:           #ffffff;
$color-black:           #000000;
$color-seal-brown:      #250202;
$color-seal-brown-2:    #390000;
$color-seashel:         #FFF5EF;
$color-sauvignon:       #F9EBE3;
$color-tuft-bush:       #FAD8C5;
$color-whisper:         #EBEBEB;
$color-whisper-2:       #EDEDED;
$color-suva-grey:       #8B8B8B;
$color-white-smoke:     #F8F8F8;

$color-seal-brown-30:   rgb(37, 2, 2, 0.3);
$color-seal-brown-50:   rgb(37, 2, 2, 0.5);
$color-sauvignon-60:    rgb(249, 235, 227, 0.6);
$color-sauvignon-20:    rgb(249, 235, 227, 0.2);
$color-black-10:        rgb(0, 0, 0, 0.1);
$color-black-20:        rgb(0, 0, 0, 0.2);
$color-black-30:        rgb(0, 0, 0, 0.3);
$color-black-50:        rgb(0, 0, 0, 0.5);

$transition-200:        ease-in 0.2s;

/* Fonts */ 
/* ---------------------- */

$ff-montserrat: 'Montserrat', 'Arial', sans-serif;
$ff-grotesk: 'Soyuz Grotesk', 'Arial', sans-serif;