.feedback__wrapper {
    position: relative;
    padding: 327px 100px 313px;
    display: flex;
    height: 100%;
    align-items: center;
}

.feedback__list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    list-style-type: none;
    z-index: 2;
    pointer-events: none;
}

.feedback__list-item__wrapper {
    position: absolute;
    display: flex;
}

.feedback__list-item__wrapper--demon {
    width: 100%;
    left: 498px;
    top: 40px;
}

.feedback__list-item__wrapper--angry {
    width: 100%;
    left: 141px;
    bottom: 42px;
}

.feedback__list-item__wrapper--angry>.feedback__list-item__mascot {
    left: 357px;
    bottom: 45px;
}


.feedback__message__wrapper {
    margin: 0 auto;
    width: 540px;
    z-index: 1;
}

.feedback__message__logo {
    font-family: "Press Start 2P", "Arial", sans-serif;
    font-weight: 400;
    font-size: 84px;
    line-height: 84px;
    text-align: center;
    color: #ffffff;
    margin: 0 0 16px;
}

.feedback__message__text {
    font-weight: 400;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 0 32px;
}

.feedback__message__logo-green {
    color: #87F29A;
}

.feedback__message__form {
    position: relative;
}

.feedback__message__form__btn-send {
    display:flex;
	justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    width: 64px;
    height: 64px;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

.feedback__message__form__btn-send__icon {
    flex-shrink: 0;
}