.border{
    border: 1px solid $color-alizarin;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    position: absolute;

    &-top {
        border: 1px solid $color-alizarin;
        border-radius: 20px;
        width: 100%;
        position: absolute;    
        height: 50px;
        border-bottom: none;

        &__overlay {
            width: 101%;
            height: 30px;
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            top: 24px;
            z-index: 1;
        }
    }
    
    &__overlay {
        width: 101%;
        height: calc(100% - 48px);
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 24px;
        z-index: 1;
    }
}