.catalog {
    
 &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin: 0 0 30px;

        &__link {
            min-width: 186px;
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 25px;
        row-gap: 15px;

        &-item {
            border-radius: 10px;

            &__link {
                display: block;
                position: relative;
            }

            &__name {
                position:absolute;
                top: 6%;
                left: 4%;
                border-radius: 10px;
                background-color: $color-white;
                padding: 3px 10px;
                font-family: Roboto;
                font-size: 24px;
                font-weight: 800;
                line-height: 30px;
                text-align: center;
            }
        }
    }
}