.contacts {
    &__heading {
        margin: 0 0 30px;
    }

    &__content {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 70px;
    }

    &__top {
        padding: 24px 20px 0;
        display: flex;
        z-index: 2;
        width: 100%;
        align-items: center;
    }

    &__list {
        display: flex;
        column-gap: 84px;
        row-gap: 20px;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style-type: none;

        &-item {
            display: flex;
            gap: 10px;
            max-width: 217px;

            &__icon {
                width: 24px;
                height: 24px;
            }

            &__content {
                font-size: 18px;
                line-height: 21px;
                display: flex;
                flex-direction: column;

            }

            &__name {
                font-weight: 700;
            }

            &__info {
                font-weight: 400;
            }
        }
    }

    &__social-media {
        display: flex;
        gap: 9px;
        margin: 0 0 0 auto;
    }

    &__call-back {
        max-width: 475px;
        padding: 26px 26px 30px;
        background-color: $color-white;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;

        &__heading {
            max-width: 76%;
            text-align: center;
        }

        &__caption {
            font-size: 24px;
            font-weight: 500;
            line-height: 28px;
        }

        .form {
            height: 100%;
            width: 100%;
        }

        &__wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 100%;
        }

        &__field {
            width: 100%;
            padding: 15px 20px;
            background-color: $color-white-smoke;
            border: none;
            border-radius: 10px;
        }

        &__bottom {
            margin: auto 0 0 0;
            display: flex;
            gap: 23px;
            flex-direction: column;
            align-items: flex-start;
        }

        &__btn {
            padding: 17px 12px;
        }
    }
}