.footer {
    background-color: $color-gainsboro-2;
    padding: 35px 0 40px;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 19px;
    }


    &__top {
        display: flex;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: space-between;
        margin: 0 0 10px;
    }

    &__heading {
        font-size: 24px;
        font-weight: 500;
        line-height: 28px;
        color: $color-alizarin;
        margin: 0 0 15px;
    }

    &__catalog {
        display: flex;
        gap: 25px;

        &-list {
            margin: 6px 0 0;
            column-count: 2;
            padding: 0 0 0 28px;
        }

        &-item {
            margin: 0 18px 4px 0;

            &__link {
                font-size: 16px;
                font-weight: 700;
                line-height: 19px;
            }
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            margin: 0 0 7px;
            a {
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
            }
        }
    }

    &__contacts &__heading {
        margin: 0 0 17px;
    }

    &__phone {
        margin: 0 0 20px;

        .phone-1 svg {
          color: $color-mts;  
        }

        .phone-2 {
            align-items: baseline;
        }

        .phone__number {
            font-size: 16px;
            line-height: 22px;
        }
    }

    &__email {
        display: flex;
        align-items: center;
        gap: 11px;
        margin: 0 0 22px;

        &-icon {
            width: 24px;
            height: 24px;
        }
    }
 
    &__contacts-btn {
        padding: 18px;
        max-width: 300px;
    }

    &__bottom {
        position: relative;

        &-content {
            margin-top: 26px;
            display: flex;
            flex-wrap: wrap;
            gap: 43px;
            position: relative;
            z-index: 2;
        }

        .border-top__overlay {
            background-color: $color-gainsboro-2;
        }
    }

    &__logo-img {
        width: 137px;
        height: 89px;
    }

    &__caption {
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
        max-width: 187px;
        margin: 0 0 0 83px;
    }

    &__address {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 20px;

        &-title {
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
        }

        &-text {
            font-size: 16px;
            font-weight: 400;
            line-height: 19px;
            white-space: nowrap;
        }
    }

    &__calculation {
        padding: 15px 17px;
    }

    &__social-media {
        display: flex;
        flex-wrap: wrap;
        gap: 9px;
        margin: 10px 0 8px auto;
    }

    &__privacy-policy {
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        display: flex;
        flex-direction: column;
        gap: 2px;

        &__link {
            text-decoration: underline;
        }
    }
}