.phone {
    display: flex;
    color: $color-midnight;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
    gap: 15px;


    &__number {
        color: $color-midnight;
        min-width: 147px;
        white-space: nowrap;
    }

    &--1 {
        .phone__icon {
            width: 48px;
            height: 13px;
        }
    }

    &--2 {
        .phone__icon {
            width: 63px;
            height: 25px;
        }
    }
}