.top {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        margin: 0 0 30px;

        &__link {
            padding: 17px 30px;
        }
    }

    &__catalog {
        display: flex;
        gap: 20px;
        flex-wrap: wrap;

        &__product-card {
            display: flex;
            flex-direction: column;
            gap: 17px;
            align-items: center;
            background-color: $color-white;
            padding: 10px 5px;
            border-radius: 20px;
            max-width: 305px;

            &__img {
                border-radius: 10px;
                width: 285px;
                height: 255px;
            }

            &__content {
                display: flex;
                flex-direction: column;
                gap: 12px;
                padding: 0 15px;
                height: 100%;
            }

            &__price {
                font-size: 32px;
                font-weight: 600;
                line-height: 32px;
                color: $color-alizarin;
            }

            &__name {
                font-size: 20px;
                font-weight: 500;
                line-height: 24px;
            }

            &__availability {
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                display: flex;
                align-items: center;
                gap: 6px;
                margin: auto 0 0;

                &-icon {
                    width: 18px;
                    height: 18px;
                }
            }

            &__bottom {
                padding: 0 15px;
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: space-between;
                gap: 30px;
                align-items: center;
            }

            &__cart {
                padding: 10px;
                min-width: 178px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 8px;

                &-icon {
                    width: 24px;
                    height: 24px;
                }

                &-text {
                    padding-top: 1px;
                }
            }

            &__fav {
                background-color: $color-gainsboro;
                width: 44px;
                height: 44px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                flex-shrink: 0;
            }
        }
    }
}