// Colors

$color-white:        #ffffff;
$color-white-smoke:  #F0F0F0;
$color-whisper:      #E6E6E6;
$color-gainsboro:    #E3E3E3;
$color-gainsboro-2:  #DBDBDB;
$color-black:        #000000;
$color-maire:        #1D1D1B;
$color-midnight:     #2E363E;
$color-alizarin:     #E93536;
$color-mts:          #E30613;
$color-vanilla-ice:  #EFCBCB;


// Typography

$ff-roboto: "Roboto", "Arial", sans-serif;